{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "standard",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["promise", "react", "react-hooks", "jsx-a11y", "import"],
  "rules": {
    "react/no-unknown-property": ["error", { "ignore": ["key"] }]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      },
      "alias": {
        "map": [
          ["@", "./src"],
          ["@routes", "./src/routes"],
          ["@pages", "./src/pages"],
          ["@redux", "./src/redux"],
          ["@components", "./src/components"],
          ["@services", "./src/services"],
          ["@adapters", "./src/adapters"],
          ["@styles", "./src/styles"],
          ["@api", "./src/api"],
          ["@hooks", "./src/hooks"]
        ],
        "extensions": [".js", ".jsx", ".json", ".css"]
      }
    }
  }
}

